{% extends 'main/main.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}

<br>
<div class="container-fluid">
    <h2>Create a new player</h2>
    <form method="POST" action="#">
    
        {% csrf_token %}
            {{ form.media }}
        {% bootstrap_form form %}  

        <hr>
        <input type="submit" class="btn btn-primary"> 
        <a href="{% url 'player_dashboard' %}" class="btn btn-danger">Cancel </a>
    </form>

</div>


{% endblock %}