{% extends 'main/main.html' %}

{% block content %}

{% include 'main/stats.html' %}

<br >
<div class="container-fluid" id="dashboardHeader"> <h2>Player Dashboard</h2> </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <a class="btn btn-secondary btn-block" href="{% url 'create_player' %}">Create Player</a>
                <hr>
                <h4>Player Details</h4>
            </div>
            <div class= "card card-body">
                <table class="overflow-x:auto table table-striped">
                    <tr>
                        <th>Players</th>
                        <th>Contact</th>
                        <th>Date of Birth</th>
                        <th>Age</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Attendance</th> 
                    </tr>
                    
                    {% for player in players %}
                    <tbody>
                    <tr>
                        <td>{{player.name}}</td>
                        <td>{{player.contact}}</td>
                        <td>{{player.date_of_birth}}</td>
                        <td>{{player.Age}}</td>
                        <td><a href="{% url 'update_player' player.id %}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                        <td><a href="{% url 'delete_player' player.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
                        <td><a href="{% url 'training_list' player.id %}" class="btn btn-success" role="button" aria-pressed="true">Training List</a>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
            <div class="card card-body">
                <a class="btn btn-secondary btn-block" href="{% url 'squad_stats' %}">Squad Attendance List</a>
                <hr>
                <h4>Attendance Record</h4>
                <div class=" card card-body">
                    <table class="overflow-x:auto table table-striped">
                        <tr>
                            <th>Player</th>
                            <th>Sessions Attended</th>
                            <th>Total Sessions </th>
                            <th>Attendance Percentage</th>
                        </tr>
                        
                        {% for p  in session_total %}
                        <tbody>
                        <tr class="traffic_light">
                            <td> {{ p.name }} </td>
                            <td class="attended_sessions">{{ p.count_sessions }}</td>
                            <td class="total_sessions">{{ all_sessions }}</td>
                            <td> <span class = "result">0</span></td>           
                        <tr>
                        </tbody>
                        {% endfor %}
                        
                    </table>
            </div>
            <div class="card card-body">
                <a class="btn btn-secondary btn-block" href="{% url 'squad_stats' %}">Squad Attendance List</a>
            </div>
        </div>
    </div>
</div>

<script> window.onload = calc(); </script>
<script> window.onload = traffic_light(); </script>

{% endblock %}