{% extends 'main/main.html' %}

{% block content %}


<div class="container-fluid">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container-fluid text-center">
            <div class="col">
                <h3> Overall attendance at training. </h3>
            </div>
            <hr>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <h4> Number of players in squad :</h4>
                </div>
                <div class="col">
                    <h4 id="player">{{all_players}}</h4>
                </div>
            </div>
            <hr>            
        </div>
        <hr>
        <div class="card card-body">
            <a href="{% url 'player_dashboard' %}" class="btn btn-danger btn-block"> Back </a>
        </div>
        <div class="card card-body">
            <table class="table table-striped">
                <tr>
                    <th>Player</th>
                    <th>Attended Sessions</th>
                    <th>Total Sessions</th>
                    <th>%</th>
                
                </tr>
                {% for item in session_total %}
                <tr class="traffic_light">
                    <td>{{ item.name }}</td> 
                    <td class="attended_sessions">{{ item.count_sessions }}</td> 
                    <td class="total_sessions">{{ all_sessions }}</td>
                    <td> <span class = "result">0</span></td>     
                </tr>
        {% endfor %}
        </table>

       
    </form>

</div>   
    
<script> window.onload = calc(); </script>
<script> window.onload = traffic_light(); </script> 

{% endblock %}