{% extends 'main/main.html' %}

{% block content %}

{% include 'main/stats.html' %}

<div class="container-fluid"> 
    <div class="text-center">
        <h3>Welcome to the information hub for</h3>
        <h1 id="club_name">{{club.club_name}}</h1> 
    </div>
</div>
<hr>
<div class="container-fluid"> 
    <row class="col d-flex justify-content-center">
        <h1>Main Dashboard</h1> 
    </row>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="background-color: #ebd80c;">
                <h4>Training</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Session Name</th>
                        </tr>
                    </thead>    
                    <tbody>    
                        {% for session in trainings %}
                            <tr>
                                <td>{{session.session_date}}</td>
                                <td>{{session.session_name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="background-color: #56a832; ">
                <h4>Matches</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Game Details</th>
                        <th>Venue</th>
                    </tr>
                    <tbody>
                    {% for game in matches %}
                        <tr>
                            <td>{{game.match_date}}</td>
                            <td>{{game.match_details}}</td>
                            <td>{{game.venue}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

