{% extends 'main/main.html' %}

{% block content %}

{% include 'main/stats.html' %}

<div class="container-fluid"> 
    <div class="text-center">
        <h1 id="club_name">{{club.club_name}}</h1> 
    </div>
</div>
<hr>
<div class="container-fluid"> <h1>Main Dashboard</h1> </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>Training</h4>
            </div>
            <div class=" card card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Session Name</th>
                    </tr>
                    
                    {% for session in trainings %}
                        <tr>
                            <td>{{session.session_date}}</td>
                            <td>{{session.session_name}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>Matches</h4>
            </div>
            <div class=" card card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Game Details</th>
                        <th>Venue</th>
                    </tr>
                    
                    {% for game in matches %}
                        <tr>
                            <td>{{game.match_date}}</td>
                            <td>{{game.match_details}}</td>
                            <td>{{game.venue}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

