{% extends 'main/main.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
<br>
<div class="container">
    
    <div class="d-flex justify-content-center">
        <h3 id="form-title">Login</h3>
        
    </div>
    <hr>
    <br>
    <div class="container-fluid">
        <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-3">
                <h4>Please enter your login details</h4>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="username" placeholder="Username..." class="form-control login-box">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                        <input type="password" name="password" placeholder="Password..." class="form-control login-box">
                </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
            </form>
        </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <h6> {{form.errors}} </h6>
                </div>
                            
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <h6>Don't have an account, please register   
                    <a href="{% url 'register' %}" class="ml-2">HERE</a>
                    </h6>
                </div>
            </div>
        
    </div>
       

</div>
{% endblock %}