{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src ="https://res.cloudinary.com/dd7koyxkj/image/upload/v1654352273/media/logo_umu1zk.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'player_dashboard' %} ">Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'match_dashboard' %}">Match</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'training_dashboard' %}">Training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_club' %}">Create Club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
          </ul>
        </div>
    
    </div>
</nav>