<!--This page is located below navbar and displays three cards.-->
<!--There is a card to show 'total number of players in the squad', 'total number of training sessions' and 'total number of games'-->

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="all_players">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Players</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title" id="player">{{all_players}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="all_sessions">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Training Sessions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{all_sessions}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue  mb-3" id="all_matches">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Matches</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{all_matches}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>