{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

		
<div class="container">
	{% for message in messages %}
	<p>{{message}}</p>
	{% endfor %}
	
	
		<form action="" method="POST">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %} 
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			<div class="container">
				<div class="row"><span class="player_name">Name</span></div>
				<div class="row" >
					<div class="col-6 mb-0" onchange="game_name()" >
					
					{{ form.player|as_crispy_field }} 
										
					</div>
					<div class="col-4 mb-0">
					{{ form.game_status|as_crispy_field }}
					</div>
					<div class="col-2 mb-0">
					{{ form.jersey_number|as_crispy_field }}
					</div>
				</div>
			</div>
			<hr>
			{% endfor %} 
			<input type="submit" class="btn btn-info"> 
		</form>
		
</div>
<script> window.onload = game_name(); </script>
{% endblock %} 