{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

		
<div class="container-fluid">
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
	
	<br>
		<form action="#" method="POST">
			<div class="container-fluid">
				<div class="row">
					<div>
						<input type="submit" class="btn btn-primary"> 
						<a href="{% url 'match_dashboard' %}" class="btn btn-danger"> Cancel </a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-4 mb-0">
						<h2>{{ match.match_date }}</h2>
					</div>
					<div class="col-4 mb-0">
						<h2>{{ match.match_details }}</h2>
					</div>
				</div>
			</div>	
			<hr>
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %} 
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			<div class="container-fluid player_formset">
				<div class="row selectedPlayer"><span class="player_name">Name</span></div>
				<div class="row" >
					<div class="col-4 mb-0" onchange="game_name()" >
						{{ form.player|as_crispy_field }} 
					</div>
					<div class="col-3 mb-0">
						{{ form.game_status|as_crispy_field }}
					</div>
					<div class="col-3 mb-0">
						{{ form.jersey_number|as_crispy_field }}
					</div>
					<div class="col-2 mb-0">
						{{ form.DELETE|as_crispy_field }}
					</div>
				</div>
			</div>
			<hr>
			{% endfor %}

			<input type="submit" class="btn btn-primary" > 
			<a href="{% url 'match_dashboard' %}" class="btn btn-danger"> Cancel </a>
		</form>
		
</div>
<script> window.onload = game_name(); </script>


{% endblock %} 