{% extends 'main/main.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block content %}

<!--html page to carry the form for the creation of a new match -->
<br>
<div class="container-fluid">
    <div class="form-group">
        <h4>Create a new match</h4>
        <form method="POST" action="#">
                    
            {% csrf_token %}
            {{ form.media }}
            {% bootstrap_form form %}  
            
            <input type="submit" class="btn btn-primary"> 
            <a href="{% url 'dashboard' %}" class="btn btn-danger"> Cancel </a>
        
        </form>
        <hr>
        <div>
            {% for field in form %}
                <h5  style="color:red"> <strong> {{ field.errors }} </strong> </h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}