{% extends 'main/main.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

		<div class="container">
			{% for message in messages %}
			<p>{{message}}</p>
		    {% endfor %}
			

			<form action="" method="POST">
				{% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
				<select id="players" name="ddplayers" class="form-select form-select-sm" aria-label=".form-select-sm example">
						<option selected>Open this select menu</option>
						{% for player in players %}
						<option value="{{ player.id}}">{{ player.name}}</option>
						{% endfor %}
				</select>


				
				
				
				
				{% endfor %} 



{% endblock %} 