{% extends 'main/main.html' %}


{% block content %}
<br>
<div class="container-fluid">  <h2>Match Dashboard</h2> </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <a class="btn btn-secondary btn-block" href="{% url 'create_match' %}">Create New Match</a>
                <h4>Match Listings</h4>
            </div>
            <div class="card card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Match Date</th>
                        <th>Details</th>
                        <th>Venue</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    
                    {% for match in matches %}
                        <tbody>
                        <tr>
                            <td>{{match.match_date}}</td>
                            <td>{{match.match_details}}</td>
                            <td>{{match.venue}}</td>   
                            <td><a href="{% url 'update_match' match.id %}" class="btn btn-primary" role="button" aria-pressed="true">Update</a></td>
                            <td><a href="{% url 'delete_match' match.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <a class="btn btn-secondary btn-block" href="{% url 'match_list' %}">List all matches</a> 
                <h4>Squad Selection</h4>
            </div>
            <div class="card card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Match Date</th>
                        <th>Match Details</th>
                        <th>Create Squad</th>
                        <th>Team Sheet</th>
                    </tr>
                    
                    {% for match in matches %}
                    <tbody>
                    <tr>
                        <td>{{match.match_date}}</td>
                        <td>{{match.match_details}}</td>
                        <td><a href="{% url 'create_squad' match.id %}" class="btn btn-success" role="button" aria-pressed="true">Create Squad</a></td>
                        <td><a href="{% url 'team_sheet' match.id %}" class="btn btn-success" role="button" aria-pressed="true">Team Sheet</a></td>
                    </tr>
                    </tbody>                           
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}