.asteriskField {
    display: none;
}

body {
    /* background-color: grey; */
}

table {
    vertical-align: top;
    text-align: center;
    margin: auto;
} 

.form-control {
    height:60px;
    line: height 45px;
    padding:6px;
}

.hidden {
    display: none;
}

/*Target the selected player name on formsets on the create_squad.html*/
#selectedPlayer {
    font-weight: bolder;
    color: rgba(13, 9, 230, 0.788);

}

/*Style dashboard indentification headers*/
#dashboardHeader {
    font-weight: bolder;
    color: rgba(32, 32, 37, 0.788);
}