{% extends "base.html" %}
{% block content %}

{% load static %}

<section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1>Error 403 has occurred.</h1>
                    <h2>Make sure you open this application using HTTPS.</h2>
                    <a href="https://an-seo.herokuapp.com">AnSeo</a>
                    <h3>Click here to retry login</h3>
                    <a class="btn btn-light mb4 mt-4" href="{% url 'login'%}" aria-label="Login Page">Return to Login Page</a>
                </div>
            </div>
        </div>
</section>


{%  endblock content  %}