{% extends 'main/main.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<!--html carrying the form to create a new training session -->
<br>
<div class="container-fluid" id="session_form">
    <h4>Create a new session</h4>
    <form method="POST" action="#">
        
        {% csrf_token %}
        {{ form.media }} <!--required for date picker-->
        {% bootstrap_form form %}  
        <hr>

        <input type="submit" class="btn btn-primary"> 
        <a href="{% url 'training_dashboard' %}" class="btn btn-danger">Cancel </a> 
        
    </form>
    
</div>

{% endblock %}