{% extends 'main/main.html' %}


<br>

<form method="POST" action="">
    {% csrf_token %}
{{ form }}


<input type="submit" name="Create">

</form>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4>Training</h4>
        </div>
        <div class=" card card-body">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Session Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Add Players</th>
                    <th>New</th>
                </tr>
                
                {% for session in sessions %}
                    <tr>
                        <td>{{session.session_date}}</td>
                        <td>{{session.session_name}}</td>
                        <td><a href="{% url 'edit_session' session.id %}">Edit</a></td>
                        <td><a href="{% url 'delete_session' session.id %}">Delete</a></td>
                        <td><a href="{% url 'training' session.id %}">Add Players</a></td>
                        
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    
{% endblock %}