{% extends 'main/main.html' %}


{% block content %}
<div class="container-fluid">
    <br>
    <form method="post">{% csrf_token %}
        <div><h5>Delete Training Session</h5></div>
        <hr>
        <p>Are you sure you want to training session dated <strong>"{{ object }}"</strong>?</p>
        <p>Training Details : <strong>{{ object.session_name }}.</strong> </p>
        {{ form }}

        <hr>
        
        <input type="submit" class="btn btn-primary"> 
        <a href="{% url 'training_dashboard' %}" class="btn btn-danger">Cancel </a>
        
    </form>
</div>    
{% endblock %}