{% extends 'main/main.html' %}
{% load static %}

{% block content %}

<br>

<div class="container-fluid" id="dashboardHeader"> <h2>Training Dashboard</h2> </div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body"> 
                
                <a class="btn btn-secondary btn-block" href="">Create Session</a>
           
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <tr>
                            <th>Training Date</th>
                            <th>Session Name</th>
                            <th>Update</th>
                            <th>Delete</th>
                        
                        </tr>
                        
                        {% for training in trainings %} 
                        <tr>
                                <td>{{training.session_date}}</td>
                                <td>{{training.session_name}}</td>
                                <td><a href="{% url 'update_session' training.id %}">Update</a></td>
                                <td><a href="{% url 'delete_session' training.id %}">Delete</a></td>
                        </tr>
                        {% endfor %} 
                    </table>
                </div>
            </div>        
        </div>
    </div>
</div>

{% endblock %}