{% extends 'main/main.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Complete Training List</h1>
        </div>
    </div>
    <hr>
    <div class="card card-body">
        <a href="{% url 'training_dashboard' %}" class="btn btn-danger btn-block"> Back </a>
    </div>
    
    <table class="table table-striped" >
        <tr>
            <th>Date</th>
            <th>Session Details</th>
            <th>Players</th>
        </tr>
        
        {% for session in object_list %} 
        <tbody>
        <tr>
            <td>{{ session.session_date }}</td>
            <td>{{ session.session_name }}</td>
            <td><a href="{% url 'update_session' session.id %}" class="btn btn-primary" role="button" aria-pressed="true">Update</a></td>
        </tr>
        </tbody>
        {% empty %}
        <li>No fixtures arranged yet.</li>
        {% endfor %} 
    </table>

</div>
{% endblock %}