{% extends 'main/main.html' %}
}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block content %}

<br>
<div class="container-fluid">
  <div class="form-group">
    <form method="POST" action="">
      
      {% csrf_token %}
      {{ form.media }}
      {% bootstrap_form form %}  
      <br>
      <hr>
      <input type="submit" class="btn btn-primary"> 
      <a href="{% url 'training_dashboard' %}" class="btn btn-danger">Cancel </a>
      
    </form>
  </div>
</div>
{% endblock %}