{% extends 'main/main.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<!--html for the form to update the details of particular training session instance -->
<br>
<div class="container-fluid">
    <div class="form-group">
        <form method="POST" action="#">
          
          {% csrf_token %}
          {{ form.media }} <!--required for datepicker-->
          {% bootstrap_form form %}  
          <br>
          <hr>
          <input type="submit" class="btn btn-primary"> 
          <a href="{% url 'training_dashboard' %}" class="btn btn-danger">Cancel </a>
          
        </form>
    </div>
</div>

{% endblock %}